<div class="question">
    <div id="question-text">
        <em>{{question}}</em>
    </div>
    <div class="radio-buttons">
        <fieldset class="answers">
            <legend>Choose your answer</legend>
            <div>
                <input type="radio" name="{{question}}" class="first-answer" value="{{firstAnswer}}">
                <label for="firstAnswer">{{firstAnswer}}</label>
            </div>
            <div>
                <input type="radio" name="{{question}}" class="second-answer" value="{{secondAnswer}}">
                <label for="secondAnswer">{{secondAnswer}}</label>
            </div>
            <div>
                <input type="radio" name="{{question}}" class="third-answer" value="{{thirdAnswer}}">
                <label for="thirdAnswer">{{thirdAnswer}}</label>
            </div>
            <div>
                <input type="radio" name="{{question}}" class="fourth-answer" value="{{fourthAnswer}}">
                <label for="fourthAnswer">{{fourthAnswer}}</label>
            </div>
        </fieldset>
    </div>
</div>
