<div class="question" q-first="{{firstAnswer}}" q-second="{{secondAnswer}}" q-third="{{thirdAnswer}}" q-four="{{fourthAnswer}}>
	<div id="question-text">
		<em>{{question}}</em>
	</div>
		<fieldset id="answers">
		<legend>Choose your answer</legend>
		<div>
			<input type="radio" name="answer" id="first-answer" value="{{firstAnswer}}">
			<label for="first-answer">{{firstAnswer}}</label>
		</div>
		<div>
			<input type="radio" name="answer" id="second-answer" value="{{secondAnswer}}">
			<label for="second-answer">{{secondAnswer}}</label>
		</div>
		<div>
			<input type="radio" name="answer" id="third-answer" value="{{thirdAnswer}}">
			<label for="third-answer">{{thirdAnswer}}</label>
		</div>
		<div>
			<input type="radio" name="answer" id="fourth-answer" value="{{fourthAnswer}}">
			<label for="fourth-answer">{{fourthAnswer}}</label>
		</div>
	</fieldset>
</div>
